@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    transition: background 0.3s linear, color 0.3s linear;
}

body.dark {
    background-color: black;
    color: white;
}

body.dark label {
    background-color: white;
    color: black;
    font-weight: bold;
}

label {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    background-color: black;
    color: white;
    font-weight: bolder;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 15px;
    transition: background 0.3s linear;
}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

input {
    visibility: hidden;
}

